// CSS reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font families imported
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto&display=swap");

// Font for display
$font--display: "Orbitron", sans-serif;

// Font for buttons
$font--button: "Roboto", sans-serif;

// Color theme variables
$color-bg-main: #d4c7b0;
$color-bg-inner: #a5a58d;

$color-btn-num: #ffe8d6;
$color-btn-num-hover: #ddbea9;
$color-btn-num-font: black;
$color-btn-op: #cb997e;
$color-btn-op-hover: darkorange;
$color-btn-op-font: black;
$color-btn-clr: red;
