// CSS reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font families imported
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto&display=swap");

// Font for display
$font--display: "Orbitron", sans-serif;

// Font for buttons
$font--button: "Roboto", sans-serif;

// Color theme variables
$color-bg-main: rgb(70, 69, 69);
$color-bg-inner: grey;

$color-btn-num: blue;
$color-btn-num-hover: darkblue;
$color-btn-num-font: white;
$color-btn-op: orange;
$color-btn-op-hover: darkorange;
$color-btn-op-font: black;
$color-btn-clr: red;
