@import "./_base.scss";
@import "./_layout.scss";

body {
  background-color: grey;
  background-image: url('../assets/background.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main__container {
  padding: 15px;
  border-radius: 15px;
  border: 3px solid $color-font;
}

.display {
  width: 100%;
  background-color: $color-bg-main;
  height: 25%;
  display: flex;
  flex-direction: column;
}

.display-top,
.display-bot {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.3rem;
  font-family: $font--display;
  color: $color-font;
  text-align: right;
  cursor: default;
  pointer-events: none;
  background-color: $color-bg-main;
  border: 0px none;
}

.buttons {
  width: 100%;
  background-color: $color-bg-main;
  flex: 1;
  margin-top: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.btn {
  width: 100%;
  height: 100%;
  font-family: $font--button;
  font-size: 1.5rem;
  background-color: $color-bg-main;
  color: $color-font;
  border: 2px solid $color-bg-main;
  border-radius: 5px;
}

.btn:hover {
  border: 2px solid $color-font;
}